
  @import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

  body {
      background-color: #f8eee7;
      font-family: 'Raleway', sans-serif;
      padding: 0;
      margin: 0;
  }
  
  .font-1 {
      font-family: 'Cormorant Garamond', serif;
  }
  
  .main-1{
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .main-bg-1 {
      width: 100vw;
      height: auto;
      margin: 0 auto;
  }
  
  .container-1 {
      padding: 0 1em;
      max-width: 60rem;
      margin: 0 auto;
      border: 2px solid red;
  }
  
  .bg-image-1 {
      background-image: url(./flower-bg-outline-drk.png);
      background-repeat: no-repeat;
      background-size: contain;
      z-index: -1;
      max-width: 480px;
      margin: auto;
      padding: 0;
      /*border: 2px solid red;*/
  }
  
  
  .display-1 {
      padding: 10px;
      width: 85vw;
      height: 80vh;
  }
  
  .heading-1 {
      padding-top: 5.3em;
  }
  
  
  
  .popup {
    font-family: 'Cormorant Garamond', serif;
    color: #995659;
  }
  
  .checkmark, .container, .s-heading{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
  
    .m-rsvp {
      margin-bottom: 20px;
      text-align: center;
      line-height: 23px;
    }
    .rsvp-p-heading {
      font-family: 'Dancing Script';
      font-size: 15px;
    }
    
    .rsvp-container {
      display: flex;
      justify-content: center;
      height: 100vh;
      width: 100vw;
    }
    
    .rsvp-inner-outer-container {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(./flower-bg-outline-drk.png);
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 1;
      max-width: 480px;
    }
    
    .rsvp-inner {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      background-color: rgba(246, 242, 242, 0.5);
      z-index: 2;
      padding: 20px;
      margin: auto;
    }


  
  
    fieldset {
      border: 0;
      margin-bottom: 20px;
    }
    
    .full-width label:nth-of-type(1) {
      display: block;
      font-size: 18px;
    }
    .full-width {
      margin-bottom: 10px;
    }
    .name {
      margin-top: 5px;
      margin-bottom: 8px;
      text-decoration: underline;
      text-align: left;
      justify-items: left;
      font-family: 'Dancing script';
     
    }
    
    .full-width input {
      border: 0;
      border-bottom: 2px solid rgba(0, 0, 0, 0.5);
      width: 100%;
      line-height: 28px;
      font-size: 14px;
      outline: none;
      background: transparent;
    }
    
    .half-width label {
      display: inline-flex;
      margin: 15px;
      margin-right: 20px;
      line-height: 28px;
      font-size: 18px;
    }

    input#guest {
      width: 30px;
    }
    
    .half-width input {
      border: 0;
      border-bottom: 2px solid rgba(0, 0, 0, 0.5);
      line-height: 28px;
      font-size: 14px;
      outline: none;
      width: 70px;
      text-align: center;
    }
    .half-width {
      margin-bottom: 20px;
    }
    
    .checkbox input {
      border: 2px solid rgba(0, 0, 0, 0.5);
      height: 28px;
      width: 28px;
      background-color: transparent !important;
    }
    
    .s-heading {
      font-size: 25px;
      color: #995659;
      padding-right: 0;
    }
    
    
    
    /* The container */
    .container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 15px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      line-height: 28px;
    }
    
    /* Hide the browser's default checkbox */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    
    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 10px;
      height: 27px;
      width: 27px;
      background-color: inherit;
      border: 2px solid rgba(0, 0, 0, 0.5);
    }

    .i-heading {
      font-size: 15px;
    }

    #groom.checkmark-i {
      margin-top: 10px;
      height: 12px;
      width: 12px;
      background-color: inherit;
      border: 2px solid rgba(0, 0, 0, 0.5);
    }

    #bride.checkmark-i {
      margin-top: 10px;
      height: 12px;
      width: 12px;
      background-color: inherit;
      border: 2px solid rgba(0, 0, 0, 0.5);
    }
    
    #checkmark2 {
      padding-right: 20px;
    }
    
    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
      background-color: #ccc;
    }
    
    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
      background-color: inherit;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
      display: block;
    }
    
    /* Style the checkmark/indicator */
    .container .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid rgba(0, 0, 0, 0.5);
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    
    .checkboxes {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .rsvp .submit {
      position: inline-block;
      background: transparent;
      border-radius: 20px;
      border-color: black;
      padding: 5px !important;
      color: rgba(0, 0, 0, 0.7);
      font-size: 22px;
      outline: none;
      font-family: "cormorant Garamond";
      margin: 0;
      margin-top: 10px;
    }
    .submit-body {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      margin-right: 10px;
    }
    
    
    input, button {
      font-family: "Cormorant Garamond", serif;
    }
    
    .popup {
      display:none;
      justify-content: center;
      text-align: center;
      height: 100vh;
    }
    
    .close {
      font-size: 10px;
      height: 20px;
    }
    
    .btn {
      display: flex !important;
      justify-content: end;
    }
  
  
    .details {
      color: grey;
      height: 100vh;
    }
    
    .rsvp {
      background-color: #ebc6c1;
      border-radius: 20px;
      border-color: transparent;
      padding: 6px;
      border: 1px solid #995659;
      color: black;
      font-weight: 500;
      text-align: center;
      text-decoration: none;
      transition: background-color 0.3s ease-in-out;
      display: inline-block !important;
      font-family: 'Aboreto', cursive; 
    }
    
    .rsvping {
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .rsvp:hover {
      background-color: #b1afae;
      text-decoration: none;
      color: black;
    }
  
    .btn-rsvp {
      display: flex;
      align-items: flex-start;
      padding-top: 1em;
    }
    

     /*  styling transitions  */

     @keyframes in-circle-swoop {
        from {
          clip-path: var(--circle-top-right-out);
        }
        to {
          clip-path: var(--circle-bottom-right-in);
        }
      }
      
      [transition-style="in:custom:circle-swoop"] {
        --transition__duration: 8s;
        animation-name: in-circle-swoop;
      }
      
      @keyframes wipe-in-down {
        from {
          clip-path: inset(0 0 100% 0);
        }
        to {
          clip-path: inset(0 0 0 0);
        }
      }
      
      [transition-style="in:wipe:down"] {
        --transition__duration: 4s;
        --transition__delay: 8s;
      }

      @keyframes wipe-in-down1 {
        from {
          clip-path: inset(0 0 100% 0);
        }
        to {
          clip-path: inset(0 0 0 0);
        }
      }
      
      [transition-style="in:wipe:down1"] {
        animation: 3s cubic-bezier(.25, 1, .30, 1) wipe-in-down both;
        --transition__duration: 1s;
        --transition__delay: 7s;
        --transition__easing: ease-in-out;
      }


      @keyframes wipe-in-right1 {
        from {
          clip-path: inset(0 100% 0 0);
        }
        to {
          clip-path: inset(0 0 0 0);
        }
      }
      
      [transition-style="in:wipe:right1"] {
        animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
        --transition__duration: 6.5s;
        --transition__delay: 2s;
        --transition__easing: ease-out;
      }
  
      @keyframes wipe-in-left1 {
        from {
          clip-path: inset(0 0 0 100%);
        }
        to {
          clip-path: inset(0 0 0 0);
        }
      }
      
      [transition-style="in:wipe:left1"] {
        animation: 1s  wipe-in-left both;
        --transition__duration: 6.5s;
        --transition__delay: -1s;
        --transition__easing: ease-in-out;
      }

      @keyframes circle-in-center {
        from {
          clip-path: circle(0%);
        }
        to {
          clip-path: circle(125%);
        }
      }
      
      [transition-style="in:circle:center"] {
        animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
        --transition__duration: 3s;
        --transition__delay: 4s;
        --transition__easing: ease-in-out;
      }


      
