@import "https://unpkg.com/transition-style";

@media only screen and (min-width: 500px) {
  .container {
    max-width: 70%;
  }
}

@media only screen and (max-height: 800px){
  .container .headerdiv{
    height: 90vh !important; 
    margin-bottom: -10vh !important;
    margin-top: -15vh !important;
}
}

@media only screen and (max-width: 499px){
  .body {
    overflow-x: hidden;
  }
  .headerdiv{
    height: 90vh !important; 
    margin-bottom: -15vh !important;
    margin-top: -15vh !important;
}
.container {
  max-width: 95% !important;
  padding-top: 15vh !important;
}
.parent:nth-of-type(1) {
  height: 90vh !important; 
}
.parent:nth-of-type(2) {
  height: 80vh !important; 
}
.groom {
  scale: 0.11 !important;
  display: none;
}
.bride {
  scale: 0.20 !important;
  left: 30% !important;
  top: 32% !important;
  display: none;
}
  .ust_text {
    font-size: 17px !important;
    margin-top: 28vh !important;
  }
  .bismillah {
    font-size: 7px !important;
  }
  .ust_text2 {
    font-size: 10px !important;
  }
  .main-heading {
    margin-top: 30px !important;
  }
  .main-heading h1 {
    font-size: 35px !important;
  }
  .surah {
    margin-top: 3em !important;
  }
  .surah h6{
    font-size: 10px !important;
  }
  .surah h5 {
    font-size: 15px !important;
  }
}

.surah {
  margin-top: 7em;
  color: grey;
  font-size: 12px;
}
.headerdiv{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    width: 100%;
    height: 93vh;
    border: none;
    background-color: transparent;
    margin-bottom: 10px;
    margin-top: 10px;
}
body{
    background-color: #F9F5F3;
    font-family: 'Oxygen', sans-serif;
}
#wrapper  {
  position: relative;
  display: inline-block;
}
.ust_text {
  position: relative;
  font-size: 20px;
  color: grey;
  margin-bottom: 15px;
  margin-top: 100px;
}
.bismillah {
  color: grey;
  font-size: 12px;
}
.ust_text2 {
  position: relative;
  padding-top: 15px;
  font-size: 12px;
  color: grey;
}
.main-heading {
  display: flex;
  justify-content: center;
  font-family: 'Dancing Script' !important;
  z-index: 3;
  font-size: 55px;
  margin-top: 50px;
  position: relative;
  color: grey;
}

.main-heading h1 {
  font-size: 100px;
}

.groom {
  border-radius: 50%;
  position: absolute;
  scale: 0.14;
  right: 7%;
  top: 18%;
  rotate: -10deg;
  z-index: 1;
  display: none;
}
.bride {
  border-radius: 50%;
  position: absolute;
  left: 35%;
  top: 33%;
  scale: 0.23;
  rotate: 4deg;
  z-index: 1;
  display: none;
}

#wrapper2  {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 30px;
  background-color: #F9F5F3;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

}


.nav-link {
    font-family: 'Explora', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2.5vh;
}

.nav {
    position: relative;
}
.navbar {
    transition: all 0.5s;
  }

  .navbar-scrolled {
    background-color: ghostwhite;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  }
.icons {
    mix-blend-mode: darken;
}
.and{
    font-family: 'Indie Flower', cursive;
    font-size: 42px;
    z-index: 4;
}
.invite {
  font-family: 'Dancing Script', cursive;
}
.text-box {
  text-align: center;
  align-items: center;
}
.title-detail{
    font-family: 'Dancing Script' !important;
    font-size: 30px;
    line-height: 2em;
    color: grey;
}
.w-detail {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  line-height: 1em;
}
.description{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: left;
}
.title-detail2{
    font-family: 'Dancing Script', cursive !important;
    font-size: 25px;
    border-bottom: 1px solid #e0dcda;
}
.description2{
    position: absolute;
    top: 110%;
    font-size: 11px;
    text-align: left;
}

.sectiondiv1{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    height: 100vh;
    border: none;
    background-color: #F9F5F3;
}

.icon {
  height : 40px;
  margin: 7px;
}
  
.heading {
  font-size: 25px;
  font-family: 'Dancing Script' !important;
  color: grey;
}
.details {
  margin-top: 100px;
  color: grey;
}
.rsvp {
  background-color: rgb(246, 216, 222);
  opacity: calc(0.8);
  border-radius: 20px;
  border-color: transparent;
  padding: 5px;
  color: black;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}
.rsvp:hover {
  background-color: #b1afae;
  text-decoration: none;
  color: black;
}


  @keyframes circle-in-hesitate {
    0% {
      clip-path: circle(0%);
    }
    40% {
      clip-path: circle(50%);
    }
    100% {
      clip-path: circle(125%);
    }
  }
  
  [transition-style="in:circle:hesitate"] {
    animation-delay: 2.5s;
    animation-duration: 10s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
  }

  @keyframes circle-in-center {
    from {
      clip-path: circle(0%);
    }
    to {
      clip-path: circle(125%);
    }
  }
  
  [transition-style="in:circle:center"] {
    animation: 9s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
    animation-delay: 3.5s;
  }

  @keyframes wipe-in-right {
    from {
      clip-path: inset(0 100% 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:wipe:right"] {
    animation: 11s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
    animation-delay: 3.8s;
  }

  @keyframes wipe-in-left {
    from {
      clip-path: inset(0 0 0 100%);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:wipe:left"] {
    animation: 12s cubic-bezier(.25, 1, .30, 1) wipe-in-left both;
  }

  @keyframes square-in-center {
    from {
      clip-path: inset(100% 100% 100% 100%);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:square:center"] {
    animation: 3s cubic-bezier(.25, 1, .30, 1) square-in-center both;
    animation-delay: 1s;
  }
  
  * {
    padding: 0;
    margin: 0
  }
  .parent:first-of-type {
    background: #F9F5F3 url("./flowerframe.png") no-repeat center center fixed;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .parent:nth-of-type(2) {
    background: #F9F5F3 url("./flowerframe.png") no-repeat center center fixed;
    background-size: 100% 100%;
    display: flex;
    align-items:center;
    height: 75vh;
  }
  .parent:nth-of-type(3) {
    background: #F9F6F3 url("flowerframe.png") no-repeat center center fixed;
    background-size: 100% 100%;
    height: 25vh
  }
  .parent:nth-of-type(4) {
    background: #F9F6F3 url("whiteflower.png") no-repeat center center fixed;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
  }
  .parent {
    width: 100%;
    height: 100vh;
    color: black;
    text-align: center;
    line-height: 180%;  
    align-items: center;
    justify-content: center;   
  }






